@using EBankApp.Models;
@using System.Web;

@{
    ViewBag.Title = "Transaction Report";
    var user = HttpContext.Current.Session[ApplicationKeys.SessionKeys.User] as User;
}

<h2><i class="fas fa-chart-line"></i> Transaction Reports</h2>
<hr />
<div class="container" id="transactionReportApp">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#CustomRange">Relative</a></li>
        <li><a data-toggle="tab" href="#RelativeRange">Custom</a></li>
    </ul>
    <div class="tab-content">
        <!-- Exchange money -->
        <div id="CustomRange" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-6 p-20">
                    <form class="form-horizontal" id="downloadTransactionReportCustomRange">
                        <div class="form-group">
                            <label for="dr-from-account" class="obligatory">Account</label>
                            <select class="form-control" id="dr-from-account" v-model="relativeReport.accountNumber" required>
                                <option v-for="accountNum in accountNumbers" :value="accountNum">{{accountNum}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dr-time-period" class="obligatory">Time Period</label>
                            <select class="form-control" id="dr-time-period" v-model="relativeReport.reportType" required>
                                <option v-for="reportType in relativeReports" :value="reportType.Value">{{reportType.Text}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" id="downloadRelativeReport" class="btn btn-success active"> <i class="fas fa-download"></i> Download Report</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 p-20">
                </div>
            </div>
        </div>
        <!--End:: Exchange money -->
        <!-- InterBankTransfer -->
        <div id="RelativeRange" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-6 p-20">
                    <form class="form-horizontal" id="downloadTransactionReportRelativeRange">
                        <div class="form-group">
                            <label for="dr-from-account" class="obligatory">Account</label>
                            <select class="form-control" id="dr-from-account" v-model="customReport.accountNumber" required>
                                <option v-for="accountNum in accountNumbers" v-bind:value="accountNum">{{accountNum}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dr-startdate" class="obligatory">Start(UTC):</label>
                            <input type="text" class="form-control dt-picker" id="dr-startdate" placeholder="Select start date" name="dr-startdate" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="dr-enddate" class="obligatory">End(UTC):</label>
                            <input type="text" class="form-control dt-picker" id="dr-enddate" placeholder="Select end date" name="dr-startdate" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <button type="button" id="downloadCustomReport" class="btn btn-success active"><i class="fas fa-download"></i> Download Report</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 p-20">
                </div>
            </div>
        </div>
        <!-- End:: InterBankTransfer -->
    </div>
</div>
<input type="hidden" id="accountsUrl" value='@Url.Action("GetAccountDetails", "Account")' />
<input type="hidden" id="printTransactionUrl" value='@Url.Action("PrintTransaction", "Account")' />
<input type="hidden" id="userId" value="@user.Id" />
@section scripts
{
    @Scripts.Render("~/Scripts/transactionreports.vue.js")
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".dt-picker").each(function () {
                $(this).datepicker();
                $(this).datepicker("option", "showAnim", "slideDown");
            });

            // relative
            $(document).on('click', '#downloadRelativeReport', function (e) {
                e.preventDefault();
                $(this).removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
                $.validator.unobtrusive.parse($(this));//add the form validation

                if ($("#downloadTransactionReportCustomRange").valid()) {
                    transactionReportApp.downloadRelativeReport();
                }
            });

            //custom
            $(document).on('click', '#downloadCustomReport', function (e) {
                e.preventDefault();
                $(this).removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
                $.validator.unobtrusive.parse($(this));//add the form validation

                if ($("#downloadTransactionReportRelativeRange").valid()) {
                    transactionReportApp.downloadCustomReport();
                }
            });
        });
    </script>
}