@using EBankApp.Models;
@using System.Web;

@{
    ViewBag.Title = "Manage Funds";
    var user = HttpContext.Current.Session[ApplicationKeys.SessionKeys.User] as User;
}

<h2>Manage Funds</h2>

<div class="container" id="manageFundsApp">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#ExchangeCurrency">Exchange Currency</a></li>
        <li><a data-toggle="tab" href="#IntraBankTransfer">Intra-bank Transfer</a></li>
    </ul>
    <div class="tab-content">
        <!-- Exchange money -->
        <div id="ExchangeCurrency" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-6 p-20">
                    <form class="form-horizontal" id="exchangeCurrencyForm">
                        <div class="form-group">
                            <label for="ex-accountNumber" class="obligatory">Account</label>
                            <select class="form-control" id="ex-accountNumber" v-model="exchangeMoney.accountNumber" name="ex-accountNumber" required>
                                <option v-for="accountNum in accountNumbers" v-bind:value="accountNum">{{accountNum}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ex-fromCurrency" class="obligatory">From</label>
                            <select class="form-control" id="ex-fromCurrency" v-model="exchangeMoney.from" name="ex-fromCurrency" required>
                                <option v-for="currency in currencies" v:bind:value="currency">{{currency}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ex-toCurrency" class="obligatory">To</label>
                            <select class="form-control" id="ex-toCurrency" v-model="exchangeMoney.to" name="ex-toCurrency" required>
                                <option v-for="currency in currencies" v:bind:value="currency">{{currency}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ex-amount" class="obligatory">Amount</label>
                            <input type="number" class="form-control" v-model="exchangeMoney.amount" id="ex-amount" placeholder="Enter Amount" name="ex-amount" min="1" max="1000000" required>
                        </div>
                        <div class="form-group">
                            <button type="button" id="exchangeBtn" class="btn btn-primary">Exchange</button>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger alert-dismissible" role="alert" v-for="error in modelStateErrors">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong> {{error}}.</strong>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 p-20">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="account in accounts">Account Number: <span class="bold-900"> {{account.accountNumber}} </span>  | Available Balance: <span class="bold-900"> {{account.accountBalance}}</span></li>
                    </ul>
                </div>
            </div>

        </div>
        <!--End:: Exchange money -->
        <!-- InterBankTransfer -->
        <div id="IntraBankTransfer" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-6 p-20">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="from-currency" class="obligatory">From</label>
                            <select class="form-control" id="from-currency" v-model="transferMoney.from">
                                <option v-for="accountNum in accountNumbers" v-bind:value="accountNum">{{accountNum}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="from-currency" class="obligatory">To</label>
                            <select class="form-control" id="from-currency" v-model="transferMoney.to">
                                <option v-for="accountNum in accountNumbers" v-bind:value="accountNum">{{accountNum}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="from-currency" class="obligatory">Currency</label>
                            <select class="form-control" id="from-currency" v-model="transferMoney.currency">
                                <option v-for="currency in currencies" v:bind:value="currency">{{currency}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="obligatory">Amount:</label>
                            <input type="number" class="form-control" id="amount" v-model="transferMoney.amount" placeholder="Enter Amount" name="amount">
                        </div>
                        <div class="form-group">
                            <button type="button" v-on:click="interBankTransferMoney" class="btn btn-primary active">Transfer</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 p-20">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="account in accounts">Account Number: <span class="bold-900"> {{account.accountNumber}} </span>  | Available Balance: <span class="bold-900"> {{account.accountBalance}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End:: InterBankTransfer -->
    </div>
</div>

<input type="hidden" id="exchangeActionUrl" value="" />
<input type="hidden" id="currenciesUrl" value='@Url.Action("GetCurrencies", "Account")' />
<input type="hidden" id="accountsUrl" value='@Url.Action("GetAccountDetails", "Account")' />
<input type="hidden" id="exchangeCurrencyUrl" value='@Url.Action("ExchangeCurrency", "Account")' />
<input type="hidden" id="interBankTransferMoneyUrl" value='@Url.Action("InterBankTransfer", "Account")' />
<input type="hidden" id="userId" value="@user.Id" />
@section scripts
{
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/Scripts/managefunds.vue.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '#exchangeBtn', function (e) {
                e.preventDefault();
                $(this).removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
                $.validator.unobtrusive.parse($(this));//add the form validation

                if ($("#exchangeCurrencyForm").valid()) {
                    manageFundsApp.exchangeMoneyFunc();
                }
            });
        });
    </script>
}

